body {
    color: white;
    margin: 0;
    background-color: rgb(169, 106, 200);
}

#nav-container {
    background-color: rgb(115, 74, 136);
    margin: 0;
    padding: 10px 15px 10px 15px;
}

#nav-bytes {
    display: inline;
    margin-right: 5px;
    font-family: 'Nunito', sans-serif;
}

#slogan {
    display: inline;
    font-style: italic;
    font-family: 'MonteCarlo', cursive;
    font-size: clamp(1.5em, 2vw, 1.5em);
}

#nav-links-container {
    float: right;
    height: 44px;
    line-height: 44px;
}

.nav-links {
    display: inline;
    padding-right: 15px;
    line-height: 100%;
    color: white;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    font-size: clamp(13px, 1.3vw, 1em);
}

.nav-links:hover {
    text-decoration: underline;
}

#com-bytes-link {
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 1000px) {
    #nav-container {
        display: flex;
        flex-wrap: wrap;
        height: 80px;
    }

    #nav-links-container {
        padding-right: 0;
    }
}

@media only screen and (max-width: 600x) {

}
/*  Nav bar css ends  */

#Find-Header {
    text-align: center;
    font-size: clamp(30px, 4vw, 40px);
    font-family: 'Nunito', sans-serif;
    text-shadow: 2px 2px 5px black;
    animation-duration: 1.5s;
    animation-name: fallsdown;
    z-index: 1;
    margin-top: 1em;
    margin-bottom: 1.5em;
}

#recipe-container {
    border-top: 4px solid black;
    border-bottom: 4px solid black;
}

#recipe-info-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "ingredients steps";
    row-gap: 1.25em;
    justify-content: center;
}

.recipe-title {
    text-align: center;
    font-size:1.5em;
    font-family: 'Nunito', sans-serif;
    text-shadow: 2px 2px 5px black;
    justify-self: center;
}

.recipe-info-ingred {
    margin-right: 3em;
    grid-area: ingredients;
    justify-self: center;
    text-align: center;
}

.recipe-info-steps {
    margin-left: 3em;
    margin-right: 2.5em;
    grid-area: steps;
    justify-self: center;
    text-align: center;
}

.form {
    display: flex;
    align-items: flex-end;
}

#add-review-form {
    grid-area: form;
    justify-self: center;
}

#review-container {
    display: grid;
    grid-template-areas: "reviews form";
    grid-template-columns: 50% 50%;

}

#review-box {
    grid-area: reviews;
    text-align: center;
    justify-self: center;
}

#Find-Header {
    text-align: center;
    font-size: 2em;
    font-family: 'Nunito', sans-serif;
    text-shadow: 2px 2px 5px black;
    animation-duration: 1.5s;
    animation-name: fallsdown;
    z-index: 1;
    margin-top: 1em;
    margin-bottom: 1.5em;
}

#name-label {
    font-size: 1.5em;
    font-family: 'Nunito', sans-serif;
}

#new-form {
    text-align: center;
    margin-bottom: 3em;
    animation-duration: 1.5s;
    animation-name: fallsdown;
    z-index: 1;
}

#name-textarea {
    width: 250px;
}

#find-recipe {
    text-decoration: none;
    color: black;
    border-radius: 13%;
    text-align: center;
    background: white;
    display: inline-block;
    font-size: 1em;
    border: 0;
    box-shadow: 3px 3px 5px black;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

#find-recipe:hover {
    background: rgb(204, 204, 204);
}

#no-recipe {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

hr {
    border: 1.5px solid rgb(115, 74, 136);
    background-color: rgb(115, 74, 136);
    margin: 1em 3em; 
}

h4 {
    text-align: center;
    font-size:1.5em;
    font-family: 'Nunito', sans-serif;
    text-shadow: 2px 2px 5px black;
    justify-self: center;
}

ul,
ol {
    font-size: 1.25em;
    font-family: 'Nunito', sans-serif;
    text-align: left;
}

.delete-button {
    justify-self: center;
    margin-bottom: 1em;
}

.update-button {
    justify-self: center;
    margin-bottom: 2em;
}

button {
    text-decoration: none;
    color: black;
    border-radius: 15%;
    text-align: center;
    background: white;
    display: inline-block;
    font-size: 1.5em;
    border: 1.5px solid black;
    box-shadow: 3px 3px 5px black;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

button:hover {
    background: rgb(206, 206, 206);
}

th {
    text-align: center;
    font-size:1.1em;
    font-family: 'Nunito', sans-serif;
    text-shadow: 2px 2px 5px black;
    justify-self: center;
}

td {
    font-family: 'Nunito', sans-serif;
}

tbody {
    line-height: 2em;
}

.review-content {
    text-align: left;
}

.add-review-label {
    font-size: 1.25em;
    font-family: 'Nunito', sans-serif;
}

.rating-label {
    font-size: 1.1em;
    font-family: 'Nunito', sans-serif;
}

#submit-review {
    text-decoration: none;
    color: black;
    border-radius: 15%;
    text-align: center;
    background: white;
    display: inline-block;
    font-size: 1em;
    border: 0;
    box-shadow: 3px 3px 5px black;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

#submit-review:hover {
    background: rgb(216, 216, 216);
}

section {
    animation-duration: 1.5s;
    animation-name: fallsdown;
    z-index: 1;
}

li {
    margin-bottom: .85em;
    line-height: 1.33em;
}

@keyframes fallsdown {
    from {
        opacity: 0;
        position: relative;
        bottom: 30px;
    }

    to {
        opacity: 1;
        position: relative;
        bottom: 0;
    }
}