body {
    color: white;
    margin: 0;
    background-color: rgb(169, 106, 200);
}

#nav-container {
    background-color: rgb(115, 74, 136);
    margin: 0;
    padding: 10px 15px 10px 15px;
}

#nav-bytes {
    display: inline;
    margin-right: 5px;
    font-family: 'Nunito', sans-serif;
}

#slogan {
    display: inline;
    font-style: italic;
    font-family: 'MonteCarlo', cursive;
    font-size: clamp(1.5em, 2vw, 1.5em);
}

#nav-links-container {
    float: right;
    height: 44px;
    line-height: 44px;
}

.nav-links {
    display: inline;
    padding-right: 15px;
    line-height: 100%;
    color: white;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    font-size: clamp(13px, 1.3vw, 1em);
}

.nav-links:hover {
    text-decoration: underline;
}

#com-bytes-link {
    text-decoration: none;
    color: white;
}

/*  Nav bar css ends  */

#header {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    font-size: clamp(30px, 4vw, 40px);
    font-family: 'Nunito', sans-serif;
    text-shadow: 2px 2px 5px black;
    animation-duration: 3s;
    animation-name: fall-down;
    z-index: 1;
}

#introContainer {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas: "text image";
    column-gap: 45px;
    margin: 2em;
}

#intro-text {
    display: inline;
    grid-area: text;
    font-size: clamp(15px, 2vw, 25px);
    line-height: 1.6em;
    font-style: italic;
    font-family: 'Nunito', sans-serif;
    text-shadow: 2px 2px 2px black;
    margin: 1em;
}

#mainImg {
    height: clamp(10px, 90%, 520px);
    width: clamp(10px, 88%, 495px);
    display: inline-block;
    grid-area: image;
    place-self: center start;
}

#get-started-button {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
}

#get-started {
    text-decoration: none;
    color: black;
    width: 120px;
    height: 55px;
    border-radius: 18%;
    text-align: center;
    line-height: 55px;
    background: white;
    font-family: 'Nunito', sans-serif;
    display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
    box-shadow: 3px 3px 5px black;
}

#get-started:hover {
    background: rgb(223, 223, 223);
}

/* Animations for the webpage */

@keyframes fall-down {
    from {
        opacity: 0;
        position: relative;
        bottom: 30px;
    }

    to {
        opacity: 1;
        position: relative;
        bottom: 0;
    }
}

/* End of Animations for Webpage */

/* @media only screen and (min-width: 601px) {
    
} */

@media only screen and (max-width: 1000px) {
    #nav-container {
        display: flex;
        flex-wrap: wrap;
        height: 80px;
    }

    #nav-links-container {
        padding-right: 0;
    }
}

@media only screen and (max-width: 900px) {
    #introContainer {
        grid-template-columns: 1fr;
        grid-template-rows: 400px;
        column-gap: 0px;
        row-gap: 10px;
        grid-template-areas: "image"
                             "text";
    }

    #mainImg {
        height: 100%;
        width: 75%;
        justify-self: center;
    }
}

@media only screen and (max-width: 600px) {

}